<h2>New Product</h2>
<div class="container">
@{Html.BeginForm();}
<div class="row">
    <div class="col-lg-3">
        @Html.Label("Product Name")


    </div>
    <div class="col-lg-3">
        @Html.TextBox("Name",(string)ViewBag.Name)


    </div>

</div>
<div class="row">
    <div class="col-lg-3">
        @Html.Label("Product Price")


    </div>
    <div class="col-lg-3">
        @Html.TextBox("Price",(decimal)ViewBag.Price)
        @Html.Hidden("Id",(int)ViewBag.Id)


    </div>

</div>
<input type="submit" value="Edit" />

</div>
